<div class="container">
   <div class="text-center">
    <h2><strong>本当に退会しますか？</strong></h2>
    <div class="messages">
        <h10>退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
        </h10>
    </div>
    <p>
     <%= link_to edit_public_customers_path, class: " btn btn-primary active col-sm-3", style: "margin: 10px;" do %>
     退会しない
     <% end %>
     

    </p>
   </div>

</div>
